.site-header{
  width: 100%;
  height: 900px;
  background-image: url(../images/car.png);
  background-repeat: no-repeat;





}

.site-header__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 500px;
  padding: 50px 0 110px;


}

  .site-header__block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.site-header__img{
  width: 400px;
  height: 113px;
}

.site-header__title{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  margin: 50px 0 0 0;
  padding: 0;
}

.site-header__link{

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 35px;
}


@media only screen and (max-width:426px) {

  .site-header{
    width: 100%;
    background-image: url("../images/car-mobil.png");
    background-position: center center;
    background-size: 100% 100%;

  }

  .site-header__inner{

    gap: 480px;
    padding: 60px 0 ;


  }

  .site-header__block{
   width: 100%;
  }

  .site-header__img{
    width: 100%;

  }

  .site-header__link{


    padding: 5px 100px;
  }







}

@media only screen and (max-width:340px) {



  .site-header__link{


    padding: 5px 50px;
  }







}