.ultra{
  margin-top: 100px;
}

.ultra__inner{
  display: flex;
  gap: 42px;


}

.ultra__content{
  width: 528px;

}
.ultra__title{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.ultra__text{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 16px 0 0 0;
  padding: 0;
}

.ultra__img{
  width: 600px;
}


@media only screen and (max-width: 426px) {

  .ultra{
    margin-top: 180px;
  }

  .ultra__inner{
    flex-direction: column;
    align-items: center;
    gap: 28px;


  }

  .ultra__content{
    width: 100%;

  }

  .ultra__title{
    font-size: 24px;
    line-height: 33px;
  }

  .ultra__text{
    margin-top: 12px;
    font-size: 16px;
    line-height: 26px;
  }

  .ultra__block{
    width: 100%;
  }





}